.title {
  font-family: var(--font-noto-serif), serif;
  font-size: clamp(3.5rem, 10vw, 6.5rem);
  line-height: 1;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: var(--mantine-spacing-md);
}

.slogan {
  font-family: var(--font-manrope), sans-serif;
}
