.imageWrapper {
  overflow: hidden;
  border: 1px solid var(--mantine-color-stone-2);
}

.image {
  object-fit: cover;
  transition: transform 1.2s cubic-bezier(0.16, 1, 0.3, 1);
}

.imageWrapper:hover .image {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .title {
    font-size: 2.2rem;
  }
}
